[BuilderBlock]
label = "About Us Section"
category = "Theme Blocks"
icon = "fa fa-id-card-o"
==
<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150"></div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <h5 class="fw-bold">Plumbing Services in Peterborough and the Kawarthas</h5>
                    <p>Since 2010, Plumbing Possibilities Inc., has lead plumbing industry in Peterborough and the Kawarthas. We have been behind the scenes of nearly every top builder, designer and local development project. We have created a team that is passionate and professional about what we do.</p>
                </div>
                <div class="mt-3">
                    <h5 class="fw-bold">OUR MISSION</h5>
                    <p>As a full service plumbing business, we want to help transform the plumbing experience to not only include excellent plumbing work, but to also help ensure the quality of the work by assisting in the fixture buying process.</p>
                </div>
                <div class="mt-3">
                    <h5 class="fw-bold">WHAT WE DO</h5>
                    <ul>
                      <li><i class="ri-check-double-line"></i> Commercial & Residential work</li>
                      <li><i class="ri-check-double-line"></i> Bathroom and kitchen renovations</li>
                      <li><i class="ri-check-double-line"></i> Custom builds</li>
                      <li><i class="ri-check-double-line"></i> Hot water tank installation</li>
                      <li><i class="ri-check-double-line"></i> Appliance installation</li>
                      <li><i class="ri-check-double-line"></i> Piping systems</li>
                      <li><i class="ri-check-double-line"></i> Roughing in and setting plumbing fixtures</li>
                      <li><i class="ri-check-double-line"></i> Up to date with plumbing codes</li>
                      <li><i class="ri-check-double-line"></i> Offer Free Estimates</li>
                      <li><i class="ri-check-double-line"></i> Service work and follow up with clients Backflow testing Poly-b pipe replacement</li>
                    </ul>
                </div>
                <div class="mt-3">
                    <h5 class="fw-bold">WHAT YOU CAN EXPECT FROM OUR STAFF</h5>
                    <ul>
                      <li><i class="ri-check-double-line"></i> Exceptional problem solving abilities</li>
                      <li><i class="ri-check-double-line"></i> Driven to provide customer satisfaction</li>
                      <li><i class="ri-check-double-line"></i> Organized and detail oriented workers</li>
                      <li><i class="ri-check-double-line"></i> Quality and service focused</li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
</section>
<!-- End About Us Section -->