[BuilderBlock]
label = "Clients Section"
category = "Theme Blocks"
icon = "fa fa-user-o"
==
<section id="brands" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-moen.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-kohler.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-delta.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-riobel.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-brizo.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{{'assets/img/brands/logo-rubi.png' | theme }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>
        </div>

      </div>
    </section>