[BuilderBlock]
label = "Header"
category = "Theme Blocks"
icon = "fa fa-window-maximize"
==
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1>
            <a href="index.html">
                <img src="{{'assets/img/pp_logo.svg' | theme }}" alt="" class="img-fluid">
            </a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#services-commercial" class="scrollto">Commercial</a></li>
              <li><a href="#services-residential" class="scrollto">Residential</a></li>
              <li><a href="#services-fixture-selection" class="scrollto">Fixture Selection</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Projects</a></li>
          <li><a class="getstarted scrollto" href="#contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>