[BuilderBlock]
label = "About Us Section"
category = "Theme Blocks"
icon = "fa fa-bars"
==
<section id="our-services" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>OUR SERVICES</h2>
          <p>PASSIONATE ABOUT WHAT WE DO.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-commercial-residental@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Commercial & Residential work</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-bath-kitchen@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Bathroom and kitchen renos</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-custom-builds@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Plumbing for custom builds</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-hot-water@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Hot water tank installation</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-appliance@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Appliance Installation</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-pipe@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Piping Systems</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-rough@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Roughing in plumbing fixtures</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-codes@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Up to date plumbing codes</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-free-estimates@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Free Estimates</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="{{'assets/img/services/icon-service@2x.png' | theme }}" alt="" style="width: 40px">
              <h3 style="margin-left: 10px"><a href="#">Service work & follow up</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>