[BuilderBlock]
label = "Portfolio Section"
category = "Theme Blocks"
icon = "fa fa-picture-o"
==
<section id="projects" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Projects</h2>
          <p>Quality and service focused</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-augusta-street">Augusta Street</li>
              <li data-filter=".filter-whitefield-drive">Whitefield Drive</li>
              <li data-filter=".filter-smeeth-master-bath">Smeeth Master Bath</li>
              <li data-filter=".filter-oakwood-kitchen">Oakwood Kitchen</li>
              <li data-filter=".filter-shower">Shower</li>
              <li data-filter=".filter-bathroom">Bathroom</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-013-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-013-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-017-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-017-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-021-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-021-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-022-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-022-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-023-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-023-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-035-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-035-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-augusta-street">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-039-1024x683.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Augusta Street</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-039-1024x683.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-040-683x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-040-683x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/img-041-683x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/img-041-683x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-1.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-1.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-2.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-2.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-4.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-4.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-whitefield-drive">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-5.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Whitefield Drive</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-5.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-7.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-7.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/1165_Whitefield-12.jpg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/1165_Whitefield-12.jpg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC04362-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC04362-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC043521-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC043521-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC043711-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC043711-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC043841-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC043841-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-smeeth-master-bath">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC043861-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Smeeth Master Bath</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC043861-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oakwood-kitchen">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC047491-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oakwood Kitchen</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC047491-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 portfolio-item filter-oakwood-kitchen">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC0436811-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oakwood Kitchen</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC0436811-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oakwood-kitchen">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/DSC0439711-819x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oakwood Kitchen</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/DSC0439711-819x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oakwood-kitchen">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/55-Oakwood-11-1024x682.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oakwood Kitchen</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/55-Oakwood-11-1024x682.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oakwood-kitchen">
            <div class="portfolio-wrap">
              <img src="{{'assets/img/projects/55-Oakwood-15-682x1024.jpeg' | theme }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Oakwood Kitchen</h4>
                <div class="portfolio-links">
                  <a href="{{'assets/img/projects/55-Oakwood-15-682x1024.jpeg' | theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>