[BuilderBlock]
label = "Services Section"
category = "Theme Blocks"
icon = "fa fa-object-group"
==
<section id="services-commercial" class="services about">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Commercial Plumbing Services</h2>
            <p>We offer a wide range of plumbing services that cater to our commercial clients</p>
        </div>
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <div>
                    <img src="{{'assets/img/services/imgSink.jpg' | theme }}" alt="" class="img-fluid">
                </div>
                <div class="row g-1 mt-1">
                    <div class="col-md-7">
                        <img src="{{'assets/img/services/gal-selection@2x-50.jpg' | theme }}" alt="" class="img-fluid">
                        <img src="{{'assets/img/services/image-pipes.jpg' | theme }}" alt="" class="img-fluid mt-1">
                    </div>
                    <div class="col-md-5">
                        <img src="{{'assets/img/services/imgHose.jpg' | theme }}" alt="" class="img-fluid">
                        <img src="{{'assets/img/services/img-work.jpg' | theme }}" alt="" class="img-fluid mt-1">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div>
                    <h6 class="fw-bold">Involved in prestigious commercial new construction and renovation in Peterborough & Kawarthas. Installation of commercial water and waste systems. May involve multiple bathrooms installation, commercial kitchens, drinking fountain installations, and commercial sewer lines.</h6>
                    <ul>
                      <li><i class="ri-check-double-line"></i> Children’s Montessori School</li>
                      <li><i class="ri-check-double-line"></i> Euphoria Wellness Spa</li>
                      <li><i class="ri-check-double-line"></i> Apollo Grill</li>
                      <li><i class="ri-check-double-line"></i> Tim Hortons Curve Lake</li>
                      <li><i class="ri-check-double-line"></i> One Eye Jack</li>
                      <li><i class="ri-check-double-line"></i> Riverside Tattoo</li>
                      <li><i class="ri-check-double-line"></i> Eastgate Soccer Field</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>