[BuilderBlock]
label = "Services Section"
category = "Theme Blocks"
icon = "fa fa-object-group"
==
<section id="services-residential" class="services about">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Residential Plumbing Services</h2>
            <p>We offer a wide range of plumbing services that cater to our residential clients</p>
        </div>
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <div>
                    <img src="{{'assets/img/services/imgSink.jpg' | theme }}" alt="" class="img-fluid">
                </div>
                <div class="row g-1 mt-1">
                    <div class="col-md-7">
                        <img src="{{'assets/img/services/gal-selection@2x-50.jpg' | theme }}" alt="" class="img-fluid">
                        <img src="{{'assets/img/services/image-pipes.jpg' | theme }}" alt="" class="img-fluid mt-1">
                    </div>
                    <div class="col-md-5">
                        <img src="{{'assets/img/services/imgHose.jpg' | theme }}" alt="" class="img-fluid">
                        <img src="{{'assets/img/services/img-work.jpg' | theme }}" alt="" class="img-fluid mt-1">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div>
                    Whether you require a small service call or are looking to do a kitchen or bathroom renovation, Plumbing Possibilities Inc. is ready to help! We offer a wide range of services for your home or project. Our trained team are knowledgeable, respectful and skilled to take on any project no matter the size.
                </div>
                <div class="mt-3">
                    <h6 class="fw-bold">LET US HANDLE ALL YOUR PLUMBING NEEDS</h6>
                    <ul>
                      <li><i class="ri-check-double-line"></i> Bathroom and kitchen renovations</li>
                      <li><i class="ri-check-double-line"></i> Plumbing for Custom home builds</li>
                      <li><i class="ri-check-double-line"></i> Hot water tank installations</li>
                      <li><i class="ri-check-double-line"></i> Appliance installations</li>
                      <li><i class="ri-check-double-line"></i> Roughing in and setting plumbing fixtures• Fixing Leaky Taps</li>
                      <li><i class="ri-check-double-line"></i> Toilet Repairs</li>
                      <li><i class="ri-check-double-line"></i> Unblocking Sinks</li>
                      <li><i class="ri-check-double-line"></i> Re-sealing Sinks</li>
                      <li><i class="ri-check-double-line"></i> Re-sealing Baths</li>
                      <li><i class="ri-check-double-line"></i> Backflow testing</li>
                      <li><i class="ri-check-double-line"></i> Poly-b pipe replacment</li>
                      <li><i class="ri-check-double-line"></i> + More</li>
                    </ul>
                </div>
                <div class="mt-3">
                    <h6 class="fw-bold">HAVE QUESTIONS?</h6>
                    <p>Call or email info@plumbingpossibilities.com we would be happy to help with any questions you have about plumbing.</p>
                </div>
            </div>
        </div>
    </div>      
</section>