[BuilderBlock]
label = "Testimonials Section"
category = "Theme Blocks"
icon = "fa fa-user-circle-o"
==
<section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>CLIENT TESTIMONIALS</h2>
          <p>We work with amazing clients, and from time to time they leave us feed back that we just can’t help but share</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/themes/pkurg-vesperr/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>John Skar</h3>
                  <h4>Operations Manager, Peterborough Bath Renovators</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Professional, knowledgeable service you can trust! We have been working with Travis and his team for a number of years, and they quickly became our 'go to' plumbers! If you want it done right, choose Plumbing Possibilities!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/themes/pkurg-vesperr/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Dave Eyre</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Travis has been taking care of our plumbing needs since I met him. Travis' honesty, professionalism and accurate trouble shooting has been a real benefit to us and we're grateful for our relationship with him. Booking through Jackie has been a breeze.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/themes/pkurg-vesperr/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Holly Gillam</h3>
                  <h4>HYBRID - Fitness.Health.Performance</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We are very pleased with the work that Plumbing Possibilities completed at our business. During the planning stage, Jackie provided various options and suggestions for water stations, making sure to meet our needs and budget. Travis and his team were very professional, courteous and detail-oriented when completing the work. Start to finish, the project was completed in a timely manner. We highly recommend Travis, Jackie and their team for your residential or commercial plumbing projects.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>